div h1,
div small {
    font-family: 'Assistant', sans-serif;
    color: white !important;
}

div user-name {
    font-family: 'Assistant', sans-serif;
    color: white !important;
}

div img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}