<div class="d-flex flex-row align-items-center">
    <img [src]="channel?.logoUrl" class="rounded-circle" (click)="viewLargeImage($event)">
    <div class="m-2"></div>
    <div class="d-flex flex-column flex-grow-1">
        <h1 *ngIf="channel?.name" class="h5 mb-1 fw-bold">{{ channel?.name }}</h1>
        <small class="text-muted">{{ channel?.description ?? '' }}</small>
    </div>

    @if (userInfo?.isAdmin) {
    <button nbButton shape="round" class="m-2" title="הודעה חדשה" status="primary" (click)="openMessageFormDialog()">
        <nb-icon icon="message-square"></nb-icon>
    </button>
    <nb-user [name]="userInfo!.username" shape="round" color="#cccccc" [nbContextMenu]="userMenu"
        [nbContextMenuTag]="userMenuTag">
    </nb-user>
    }
</div>