<nb-card style="height: 90svh; width: 80%; justify-self: center;">
    <nb-card-header>
        <app-channel-header [(userInfo)]="userInfo"></app-channel-header>
    </nb-card-header>
    <!--  Card body  -->
    <nb-list class="flex-column-reverse bg-light" #messagesList nbInfiniteList (scroll)="onListScroll()"
        [threshold]="200" [throttleTime]="1500" (topThreshold)="loadMessages()">

        <!-- Scroll to bottom -->
        <nb-list-item *ngIf="showScrollToBottom" class="position-absolute align-self-end m-4 scroll-arrow">
            <button nbButton status="primary" shape="round" class="shadow" (click)="scrollToBottom()">
                <nb-icon icon="arrow-downward-outline"></nb-icon>
            </button>
            <nb-badge *ngIf="hasNewMessages" [dotMode]="true" status="danger"></nb-badge>
        </nb-list-item>

        <nb-list-item *ngFor="let message of messages">
            <app-message [isAdmin]="userInfo?.isAdmin == true" [message]="message"></app-message>
        </nb-list-item>

        <nb-list-item *ngIf="messages.length === 0" class="flex-fill align-self-center">
            <div *ngIf="!isLoading" class="align-self-center flex-grow-1">
                <span>אין הודעות</span>
            </div>
        </nb-list-item>

        <!-- Loading indicator -->
        <nb-list-item *ngIf="isLoading" class="flex-fill align-self-center">
            <div class="align-self-center flex-grow-1">
                <div class="spinner-border text-primary"></div>
            </div>
        </nb-list-item>
    </nb-list>
</nb-card>