<div *ngIf="message && message.text" class="d-flex flex-row align-content-center my-1 mx-4">
    <div class="caret"></div>
    <div class="message-card" [ngStyle]="{'opacity': message.deleted ? 0.5 : 1}">
        <div class="d-flex flex-column">
            <div class="m-2">
                <markdown [data]="message.text" [disableSanitizer]="true" (click)="viewLargeImage($event)">
                </markdown>
            </div>
            <div *ngIf="isAdmin && !message.deleted" class="d-flex option-mask">
                <nb-icon icon="arrow-ios-downward-outline" [nbContextMenu]="optionsMenu"
                    [nbContextMenuTag]="message.id?.toString() ?? '0'"
                    [nbContextMenuPlacement]="NbPosition.END_BOTTOM"></nb-icon>
            </div>
            <div class="d-flex justify-content-between align-items-center mx-2 gap-2">
                <small class="text-black-50">{{ message.timestamp | messageTime }}</small>
                <div class="d-flex flex-row align-items-center text-black-50 gap-1" title="צפיות">
                    <small>{{ message.views ?? 0 }}</small>
                    <nb-icon icon="eye-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="m-1"></div>
    <div *ngIf="message.deleted">
        <nb-icon icon="alert-circle" nbPopover="לחצו כאן לשחזור ההודעה" nbPopoverTrigger="hover"
            (click)="editMessage(message)" status="danger"></nb-icon>
    </div>
</div>