.message-card {
  position: relative;
  z-index: 200;
  border-radius: 10px 0 10px 10px;
  background-color: #e8ebfa;
}

.caret {
  width: 0;
  height: 0;
  border: solid;
  border-color: #e8ebfa transparent transparent #e8ebfa;
  border-width: 0 5px 10px 5px;
}

.option-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  justify-content: end;
  border-radius: 10px 0 10px 10px;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, .3);
  padding: 1px;

  opacity: 0;
  transition: opacity ease-out 0.1s;

  nb-icon {
    pointer-events: all;
    color: dimgray;
    cursor: pointer;
  }
}

nb-icon {
  cursor: pointer;
}

.message-card:hover .option-mask {
  opacity: 1;
  transition: opacity ease-in 0.1s;
}

::ng-deep {
  .menu-item {
    .menu-icon {
      margin: 0 0 0 0.5rem !important;
    }
  }

  markdown img {
    border-radius: 8px;
    cursor: pointer;
  }

  i {
    cursor: pointer;
  }
}